html {
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
  line-height: 1.3;
  color: #222;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0 1rem;
  margin: 0;
}

article h1 {
  font-weight: normal;
  padding: 0;
  margin: 1em 0 0;
  font-size: 1.5rem;
}

article header p {
  font-style: italic;
  margin: 0 0 1em;
}

article {
  border-color: #999;
  border-width: thin;
  border-bottom-style: solid;
  margin: 0 0 1em;
}

article header {
  border-color: #999;
  border-width: thin;
  border-bottom-style: solid;
}

article p {
  padding: 0;
  margin: 1.3em 0;
}

article ol {
  margin: 0 1em;
  padding: 0;
}

blockquote {
  color: #555;
  font-size: 1.125rem;
}

.quote {
  padding: 0;
  margin: 0;
}
